{% load static %}
<!DOCTYPE html>
<html lang="en">
  <link
    href="https://bootswatch.com/5/darkly/bootstrap.min.css"
    rel="stylesheet"
  />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nick's Blog</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"
            ><img
              class="rounded"
              style="height: 4em"
              src="{% static 'nickblog/static/nick-blog-logo-zoomed.png' %}"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{% url 'categoryPosts' category='travel' %}"
                  >Travel</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{% url 'categoryPosts' category='coding' %}"
                  >Coding</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{% url 'categoryPosts' category='health' %}"
                  >Health</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>

              {% comment %} TODO: implement this?? {% endcomment %} {% comment%}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Dropdown</a
                >
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
              {% endcomment %}
            </ul>
            {% comment %} TODO: implement this??
            <form class="d-flex">
              <input
                class="form-control me-sm-2"
                type="search"
                placeholder="Search"
              />
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                Search
              </button>
            </form>
            {% endcomment %}
          </div>
        </div>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
