<link
  href="https://bootswatch.com/5/darkly/bootstrap.min.css"
  rel="stylesheet"
/>
{% extends 'base.html' %} {% block title %}
<h1>{{category}}</h1>
{% endblock %} {% block content %} {% if posts %}

<div class="container mt-5">
  {% for post in posts %}

  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="card mb-5">
        <div class="row g-0">
          <!-- Left column: Title, date, content -->
          <div class="col-md-6 p-4 d-flex flex-column justify-content-center">
            <h2 class="card-title">{{ post.title }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">
              Posted: {{ post.published_date }}
            </h6>
            <p class="card-text">{{ post.feature_content }}</p>
            <a
              href="{% url 'post_content' post_id=post.id %}"
              class="btn btn-primary"
            >
              Read Post
            </a>
          </div>

          <!-- Right column: Image -->
          {% if post.feature_image_url %}
          <div class="col-md-6 text-center d-flex align-items-center">
            <img
              src="{{ post.feature_image_url }}"
              alt="Blog Image"
              class="img-fluid w-100 p-3"
            />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% else %}
<p>No posts yet!</p>
{% endif %} {% endblock %}
