{% extends 'base.html' %}
<!---->
{% block meta_tags %}
<meta property="og:title" content="{{ post.title }}" />
{% comment %} <meta property="og:description" content="{{
post.get_summary|default:"Read this post on my blog." }}" /> {% endcomment %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="article" />
<!---->
{% if post.feature_image_url %}
<meta property="og:image" content="{{ post.feature_image_url }}" />
<!---->
{% endif %}
<!---->
{% endblock %}
<!-- -->
{% block content %}
<div class="container py-4">
  <div class="row">
    <div class="col-lg-10 col-xl-8 mx-auto">
      <h2 class="text-center mb-3">{{post.title}}</h2>
      <p class="text-center text-muted mb-4">{{post.published_date}}</p>

      <div class="row">
        {% for content in post.contents.all %}
        <!-- -->
        {% if content.content_type == 'text'%}
        <div class="col-12 mb-4">
          <p>{{ content.text }}</p>
        </div>
        {% elif content.content_type == 'header' %}
        <div class="col-12 mb-3">
          <h2>{{ content.header }}</h2>
        </div>
        {% elif content.content_type == 'image' %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="text-center">
            <img
              src="{{ content.image.url }}"
              class="img-fluid rounded shadow-sm"
              alt="Blog Image"
            />
            <p class="mt-2 text-muted small">{{content.image.caption}}</p>
          </div>
        </div>
        {% endif %}
        <!-- -->
        {% endfor %}
      </div>

      <div class="text-center mt-4 mb-3">
        <a href="{% url 'home'%}" class="btn btn-primary">Return to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
